# --- Python Virtual Environment ---
# Python environment files
.venv-fastapi/
.venv/
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
.env
.venv/
venv/
ENV/
env/
*.log

# VS Code
.vscode/

# SQLite databases
*.db
*.sqlite3
db.sqlite

# Alembic
alembic/versions/__pycache__/
alembic/*.log

# OS junk
.DS_Store
Thumbs.db

